In [22]:
#Python 3 code to demonstrate star pattern diamond 
# Here we combine two pyramids to make a diamond

#Let's define a function
def diamond(rows):
    
    #print the upper part of the diamond or the upper pyramid
    for i in range(rows):
        print(' '*(rows-i-1)+'* '*(i+1))
        
    #print the lower part of the diamond or the lower pyramid
    for j in range(rows-1,0,-1):
        print(' '*(rows-j)+'* '*(j))

In [23]:
diamond(10)

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [26]:
#Python 3 code to demonstrate another star pattern diamond 
# Here we combine two pyramids to make a diamond

#Let's define a function
def diamond(rows):
    
    #print the upper part of the diamond or the upper pyramid
    for i in range(rows):
        print(' '*(rows-i-1)+'*'*(2*i+1))
        
    #print the lower part of the diamond or the lower pyramid
    for j in range(rows-1,0,-1):
        print(' '*(rows-j)+'*'*(2*j-1))

In [27]:
diamond(10)

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************
 *****************
  ***************
   *************
    ***********
     *********
      *******
       *****
        ***
         *